<div class="row pb-4">
  <div class="col-md-9">
  
      <%= paginate @blogs %>

      <%= render @blogs %>

      <%= paginate @blogs %>

  </div>
  <div class="col-md-3">
      <%= render "shared/blog_sidebar" %>
  </div>
</div>

