<footer class="blog-footer text-center py-3 border-top">
    <div class="container">
    
    <p><%= copyright_generator %></p>
    <p class="mb-0"><a href="#">Back to top</a></p>
    </div>
</footer>