<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">My Blogs</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
     <%= link_to 'Write a new blog', new_blog_path, class: "text-primary font-weight-bold" if logged_in?(:site_admin)  %>
  </div>
</div>