	
<div class="row">
	
	<div class="col">
	<h1>Contact Me</h1>

	 <h5>Address: <small class="text-muted">Venkatadri IT Park, HP Avenue, Konnappana, Electronic city, Bengaluru, Karnataka 560069</small></h5>
	<h5><a href="mailto:roselletabuena017@gmail.com?subject=PortfolioContact">Email me</a></h5>
	<h5>Contact: <small class="text-muted"><%= number_to_phone "639311394769"%></small></h5>
	</div>
	<div class="col">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15431.552026958976!2d121.06763337453964!3d14.775337664165496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397afe8bca8168d%3A0x5ffd6b67aec7aa99!2sRJ22%20MINIATURE%20MODEL%20MAKING%20SERVICES!5e0!3m2!1sen!2sph!4v1625820578335!5m2!1sen!2sph" 
		width="450" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
	</div>
</div>